# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
*.egg

# Compiled Python files
*.pyc

# Python cache
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environment
venv/
ENV/

# IDE specific files
.idea/
.vscode/

# Compiled files
*.exe
*.o
*.dll
*.pyd
*.pyi

# Logs
*.log

# Temp files
*.tmp
*.swp
*.swo
*.DS_Store
tempCodeRunnerFile.py

# Miscellaneous
*.bak
